
body {
  width: 100%;
  height: 100vh;
  background:  #02b0f5 ;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

header {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translatey(-20%);
  transform: translatex(-10%);
}



.albumimg {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.albumimg img {
  width: 340px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.container {
  background-color: rgb(0, 0, 0);
  border-radius: 55px;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: rgb(255, 252, 252);
}



.container .progress_container {
  width: 100%;
  height: 5px;
  background-color: #ccc;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  max-width: 150px;

}

.container h1 {
  position: absolute;
  top: 4px;
  text-align: center;
  font-size: 16px;
  margin: 0;
}

  

.container #time {
  top: 40%;
  left: 10%;
}

.container #audiotime{
  top: 40%;
  left: 85%;
}

.container #progress {
  background-color: aqua;
  width: 0;
  height: 100%;
}

.container #time,
.container #audiotime {
  position: absolute;
  font-size: 12px;
  margin: 10px 0;
}


.container .buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container .buttons button {
  cursor: pointer;
  border-radius: 50%;
  background: #87e7af;
  padding: 10px;
  border: none;
  margin: 5px 5px;
}

/* Volume */
input[type="range"] {
  -webkit-transform: rotate(-90deg) translate(75px, 280px);
  transform: rotate(-90deg) translate(75px, 280px);
  cursor: pointer;
  margin-top: 20px;
}

h3 {
  font-family: 'Roboto';
  padding: 0%;
  margin: 0%;
  transform: translate(315px, -120px);
}

/* Animation */
.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.animation img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.animation .object {
  width: 350px;
  height: auto;
}

#a1 { left: 1%; top: 20%; }
#a2 { left: 48%; top: 40%; }
#a3 { left: 10%; top: 15%; }
#a4 { left: 30%; top: 5%; }
#a5 { left: 45%; top: 20%; }
#a6 { left: 20%; top: 18%; }
#a { left: 70%; top: 30%; }
#b { left: 69%; top: 30%; }
#c { left: 58%; top: 52%; }
#d { left: 79%; top: 80%; }



